<!-- <div style="padding-left:130px;padding-right:200px;">
<h1>About us page.</h1>
 <p>This is simple angular ng-view and ng-route tutorial to demonstrate single page web app development.</p>
 <p>
   This is executed because of this code.
   <pre>
     <code>
      Hello sandeep patidar Dewas madhya pradesh!!!
     </code>
   </pre>
 </p>
 <p><a class="btn btn-primary btn-lg" href="#" role="button">Read tutorial</a></p>
 </div>
 -->

   <form  ng-app="sandeepApp" ng-controller="sandeepCtrl" name="myForm" method="post" action="customerLogin">
				    	<div>
				    	 {{loginMessage}}
					    	<p>Username:<br>
<input type="email" name="email" ng-model="Registration.email" required>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Username is required.</span>
<span ng-show="myForm.email.$error.email">Invalid Username address.</span>
</span>

					    </div>
					    <div>
					    	<p>Password:<br>
<input type="password" name="password" ng-model="Registration.password" required>
<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
<span ng-show="myForm.password.$error.required">Password is required.</span>
</span>
					    </div>
					   <div>
					   		<!-- <span><input type="submit" value="Login"></span> -->
					   		<!-- <li><a href="#/login">Login</a></li> -->
					   		   <button type="button" ng-click="loginUser(Registration)">Enter</button>                   
					  </div>
	     	    </form>
	     	 <!--    <script>
var app = angular.module('sandeepApp', []);
app.controller('sandeepCtrl', function($scope) {
   /*  $scope.user = 'John Doe';
    $scope.email = 'john.doe@gmail.com'; */
});
</script> -->
