<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      <TH COLSPAN="9"><BR><H3>Customer Details</H3>
      </TH>
   </TR>
   <TR>
      <TH>First Name</TH>
       <TH>Email</TH>
        <TH>Contact No.</TH>
         <TH>Address</TH>
          <TH>City</TH>
            <TH>Country</TH>
              <TH>Edit</TH>
                <TH>Delete</TH>
   </TR>
   <TR ALIGN="CENTER" ng-repeat="info in CustInfo">
       <TD>{{info.name}}</TD>
      <TD>{{info.email}}</TD>
        <TD>{{info.telephone}}</TD>
          <TD>{{info.address1}}</TD>
            <TD>{{info.city}}</TD>
              <TD>{{info.country}}</TD>
                  <td><button ng-click="editCustomerDetails(info);">Edit</button></td>
                   <td><button ng-click="deleteCustomerDetails(info.registrationId);">Delete</button></td>
                  <!--  <td><a href="#" ng-click="deleteCustomerDetails(info.registrationId)">Delete</a></td> -->
   </TR>
</TABLE>