  <div>
   <form  ng-app="sandeepApp" ng-controller="sandeepCtrl" name="myForm" method="post" action="customerLogin">
   <div style="color: red">
   Welcome to login page
   </div>
				    	<div>
				    <div style="color: blue;">{{loginMessage}}</div>	 
					    	<p>Username:<br>
<input type="email" name="email" ng-model="Registration.email" required>
<span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Username is required.</span>
<span ng-show="myForm.email.$error.email">Invalid Username address.</span>
</span>

					    </div>
					    <div>
					    	<p>Password:<br>
<input type="password" name="password" ng-model="Registration.password" required>
<span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid">
<span ng-show="myForm.password.$error.required">Password is required.</span>
</span>
					    </div>
					   <div>
					   		<!-- <span><input type="submit" value="Login"></span> -->
					   		<!-- <li><a href="#/login">Login</a></li> -->
					   		   <button type="button" ng-click="loginUser(Registration)">Login</button>                   
					  </div>
	     	    </form>
	     	    </div>
	     	
