<div align="center">
{{message}}
<div ng-bind="$scope.Registration"></div>
 <form ng-submit="registerUser()" ng-controller="RegisterCtrl" name="myForm">
 <div>
<input type="hidden" name="registrationId" ng-model="registrationId">
</div>
<div style="color: cyan;">Welcome to registration form</div>
 <div>
<p>First Name:</p>
<div>
<input type="text" name="name" ng-model="name" required></div>
<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
<span ng-show="myForm.name.$error.required">Customer Name is required.</span>
<span ng-show="myForm.name.$error.name">Invalid Name.</span>
</span>

 </div>
 <div>
 <p>Email:</p>
 <div><input type="text" name="email" ng-model="email" required></div>
 <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
<span ng-show="myForm.email.$error.required">Username is required.</span>
<span ng-show="myForm.email.$error.email">Invalid Username address.</span>
</span>
 </div>
  <div>
					     	<p>TELEPHONE:-</p>
					    	<!-- <span><input type="text" value="" /></span> -->
					    	<div  ng-class="{'has-error': myForm.telephone.$error.number}">
					    	 <input type="text"  ng-minlength="10" ng-maxlength="10"  id="inputPhone" name="telephone" placeholder="Phone" ng-model="telephone" ng-required="true"></div>
            <span style="color:red" ng-show="myForm.telephone.$error.required || myForm.telephone.$error.number"></span>
            <span style="color:red" ng-show="((myForm.telephone.$error.minlength || myForm.telephone.$error.maxlength) && myForm.telephone.$dirty) ">phone number should be 10 digits</span>
					    </div>
  <div>
 <p>Address:</p>
 <div><input type="text" name="address1" ng-model="address1"></div>
 </div>
  <div>
 <p>City:</p>
 <div><input type="text" name="city" ng-model="city"></div>
 </div>
  <div>
 <p>Fax:</p>
 <div><input type="text" name="fax" ng-model="fax"></div>
 </div>
  <div>
 <p>Password:</p>
 <div><input type="text" name="password" ng-model="password"></div>
 </div>
 <br>
 <div>
  <select ng-model="country">
<option  ng-repeat="countryName in country">{{countryName.countryName}} </option>
 </select> 
 </div><br>
 <div>
    <input type="submit" id="submit" value="Registration"/>
 </div>
 </form>
 </div>